<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	<link rel="stylesheet" type="text/css" href="styles.css">

  </head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-main>
		<v-container fluid class="pa-0 m-0">
		<v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
			<v-row align="center" justify="center">
				<v-col cols="12" sm="12" md="6" class="showitems">
					 <v-card
					    class="mx-auto cardColor"		
					    max-width="500"
					    elevation="0"
					    transition="slide-x-transition"
					  >

					    <v-list-item three-line>
					      <v-list-item-content>
					        <div class="introContent">
					          Hi,
					        </div>
					        <v-list-item-title class="introTitle">
					          <b>I'm Sean Russell</b>
					        </v-list-item-title>
					        <v-list-item-subtitle class="introContent">Software Engineer</v-list-item-subtitle>
					      </v-list-item-content>
					    </v-list-item>

					    <v-card-actions>
					      <v-btn
					        outlined
					        text
							@click="scrollToContainer('about')"
					      >About Me
					      </v-btn>
					      <v-btn
					        outlined
					        text
					        @click="scrollToContainer('mycertificate')"
					      >Certificates
					      </v-btn>
						  	<v-btn
					        outlined
					        text
					        @click="scrollToContainer('myprojects')"
					      >Projects
					      </v-btn>
					      <v-btn
					        outlined
					        text
					        @click="scrollToContainer('other')"
					      >Other
					      </v-btn>
					    </v-card-actions>
					  </v-card>
				</v-col>
				<v-col cols="12" sm="12" md="6" align="center" justify="center" class="fadein">
					<v-avatar class="avatarSize" size="35vw">
				      <img
				        src="image/sean.jpg"
				        alt="Sean"
				      >
				    </v-avatar>
				</v-col>
			</v-row>
		</v-container>

		<div class="MainContainer">
		<v-container class="aboutMeContainter" id="about">
			<v-row>
				<v-col class="aboutMe">
						<v-list-item three-line>
					      <v-list-item-content>
					        <div class="aboutMeContentTitle">
					          ABOUT ME
					        </div>
							<v-container class="aboutMeContent">
							<p>Hello! I'm Sean Vargas, and I'm excited to explore opportunities as a Software Developer, with a special focus on Web Development. My goal is to bring my passion for technology and my extensive experience to a dynamic team where I can contribute to creating innovative and high-quality web solutions.</p>

							<p>With a solid background in web development and a keen interest in the latest advancements in Information Technology, I am eager to share my knowledge and collaborate with talented professionals. I'm committed to enhancing my skills while helping to build cutting-edge projects that drive success and foster a positive work environment.</p> 
								
							<p>If you're looking for someone dedicated to crafting exceptional web experiences and eager to grow within the IT field, I would love to connect and discuss how my expertise aligns with your needs.</p> 
								
							<p>Let's create something amazing together!</p>
							</v-container>
					        <!-- <v-list-item-title class="aboutMeContentTitle">
					          PERSONAL DETAILS
					        </v-list-item-title>
							    <v-list-item-subtitle class="aboutMeContent c1">I'm Sean Vargas, looking for a position as a Software Developer spesifically on Web Development to contribute and share quality knowledge, work experience for	better career and work environment and to enhance my skill in
											Information Technology field.
								</v-list-item-subtitle> -->
					      </v-list-item-content>
					    </v-list-item>
				</v-col>
			</v-row>
		</v-container>


		<v-container class="skillContainer" justify="center">
			<p class="skillTitle">
			    MY SKILLS
			</p>
			<v-row class="skill_list">
				<v-col 
				v-for="(skills, index) in skillset"
				:key="index"
				cols="4"
				xl="3" 
				md="3" 
				sm="3"
				:class="['skill-item', skills.class]">
					<v-container class="img-prop">
						<v-img :src="skills.src"
						aspect-ratio="1"
						></v-img>
						<span class="skill-font">
							{{ skills.title }}
						</span>
					</v-container>
					<v-container class="level-prop" style="display: none;border: solid;height: 100%;">
						<span class="skill-font">
							{{ skills.title }}
						</span>
						<v-container style="align-self: center;padding: 0px;">
						<table style="margin-top:25%;">
							<tr style="flex-wrap: nowrap;" class="tr-data" :data-max="skills.max_level" :data-level="skills.level" >
							</tr>
						</table>
						</v-container>
						<span><span class="counter"></span>/{{ skills.max_level }}</span>
					</v-container>
				</v-col>
			</v-row>
		</v-container>

		<v-container id="mycertificate">
			<v-container class="mycert">
				<p>
					CERTIFICATES
				</p>
				<v-carousel height="90vh">
					<v-carousel-item
						v-for="(image, index) in certImages"
						:key="index"
						:class="image.width";
					>
					<v-img :src="image.src" :alt="image.alt" />
					</v-carousel-item>
				</v-carousel>
			</v-container>
		</v-container>


		<v-container id="myprojects">
			<v-container class="project">
				<p>
					PROJECTS
				</p>
				<v-carousel height="90vh">
					<v-carousel-item
						v-for="(projects, index) in projectImg"
						:key="index"
						:class="projects.width";
					>
					<v-img :src="projects.src" :alt="projects.alt" />
					</v-carousel-item>
				</v-carousel>
			</v-container>
		</v-container>

		<v-container id="other">
			<v-container class="other">
				<p>
					OTHER
				</p>
				<h4>
					Please refresh the page to see the typography
				</h4>
				<v-row>
					<v-col><iframe src="typography.html" class="iframe"></iframe></v-col>
				</v-row>
			</v-container>
		</v-container>
		
		



		
		</div>

     </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  
  <script type="text/javascript" src="vue_script.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
</body>
</html>