  		[v-cloak]{
  		display: none;
		}
		.MainContainer{
			height: 2800px;
		}
		.skillsTitle1, 
		.skillsTitle2, 
		.skillsTitle3, 
		.skillsTitle4, 
		.skillsTitle5, 
		.skillsTitle6, 
		.skillsTitle7, 
		.skillsTitle8, 
		.skillsTitle9, 
		.skillsTitle10,
		.skillsTitle11,
		.skillsTitle12{
			text-align: center;
			font-weight: bold;
			font-size: x-large;
			display: none;
		}
		.c1{
			height: 100px;
		}
		
		.mycert,
		.showitems, 
		.fadein,
		.skillTitle, 
		.aboutMe{
			display: none;
		}
		.cardColor {
		   background-color: rgba(255, 255, 255, 0.0) !important;
		   border-color: white !important;
		}
		.mycert{
			margin-top: 100px;
		}


		/* hover skill */
		
		.skill-item:hover {
			transform: scale(1.05);
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.989);
			background-color: rgba(133, 132, 132, 0.623);
			z-index: 1000;
		}
		.column-style {
			border: solid .2vw;
			width: 10vw;
			height: 5vw;
		  }
		