.random-move-text {
  position: relative;
  animation: move 20s infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, -4px);
  }
  50% {
    transform: translate(-3px, 2px);
  }
  75% {
    transform: translate(2px, 2.5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.random-move-text-2 {
  position: relative;
  animation: move2 20s infinite;
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, -4px);
  }
  50% {
    transform: translate(-2.5px, -1px);
  }
  75% {
    transform: translate(2px, 2.5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.random-move-text-3 {
  position: relative;
  animation: move3 20s infinite;
}

@keyframes move3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(2px, 2.5px);
  }
  50% {
    transform: translate(-2.5px, -1px);
  }
  75% {
    transform: translate(-3px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}