[v-cloak]{
  		display: none;
}
.skillContainer{
	height: 850px;
}
  	
.skillsTitle1, 
.skillsTitle2, 
.skillsTitle3, 
.skillsTitle4, 
.skillsTitle5, 
.skillsTitle6, 
.skillsTitle7, 
.skillsTitle8, 
.skillsTitle9, 
.skillsTitle10{
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	display: none;
}
.c1{
	height: 100px;
}
.aboutMeContainter{
	height: 250px;
}
.showitems, 
.fadein, 
.skillTitle, 
.aboutMe{
	display: none;
}
.cardColor {
   background-color: rgba(255, 255, 255, 0.0) !important;
   border-color: white !important;
}